body {
    margin:0;
    background-image: url("earthimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dropdwn{
    width: 70px;
    float: right;
    background-color: white;
    
}

.subitems a{
    color:white;
    text-decoration: none;
}

.subitems a:hover{
    color:gray;
}

#main-nav{
    position:relative;
    padding-top:5px;
    background-color:rgb(33, 28, 28); 
    /*background-color:gray;*/
    overflow: visible;
    padding-left:50px;
}

#homeclick{
    display:inline-block;
   /* width:80%;
    margin:auto; */
    text-decoration: none;
    text-align:center;
    width:35%;
    margin-top:15px;
    margin-left:30px;
    margin-bottom:15px;
    font-size: 30px;
    background-color: rgb(33, 28, 28);
    /*background-color: red;*/
    color:white;
    cursor:pointer;
}

#sidemenu{
    display:inline-block;
    width:45%;
    /*background-color: blue;*/
}

#main-nav #items{
    list-style-type: none;
    display:inline-block;
    margin-left:15px;
    width:100%;
    text-align:center;
    background-color:rgb(33, 28, 28);
   /* background-color:red; */
}

#main-nav .mitem{
    display:inline-block;
    position:relative;
}

.mitem:hover .subitems{
    display:block;
}

#main-nav button{
    border:none;
    padding:5px;
    margin-right:5px;
    font-size: 20px;
    background-color: rgb(33, 28, 28);
    color:white;
    cursor:pointer;
}

#homeclick:hover{
    color:gray;
}

#main-nav button:hover {
    color:gray;
    
}

.container{
    width:80%;
    margin:auto;
}

#main-content{
    min-height:800px;
    width:80%;
    margin:auto;
}

#main-content .resultbox{
    
    top:15px;
    color:white;
    font-size:15px;
    width:75%;
    margin:auto;
    text-align:left;
    border-left: 4px solid white;
}

#main-content a{
    color:white;
    text-decoration: none;
}
#main-footer{
    color:white;
    background-color:rgb(33, 28, 28);
    overflow: hidden;
    margin:auto;
}

#main-footer p{
    width:25%;
    text-align:center;
    overflow: hidden;
    /*background-color:red;*/
    display:block;
}

.subitems{
    
    text-align: center; 
    overflow: hidden;
    position:absolute;
    display:none;
    background-color:rgb(33, 28, 28);
    /*background-color: orange;*/
    margin:auto;
    min-width:100px;
    min-height:50px;
}

.subitems ul{
    background-color:rgb(33, 28, 28);
    /*background-color: aqua;*/
    padding:0px;
}

.subitems li{
    display:block;
    padding:5px;
    margin-left:0px;
    margin-top:5px;
    color:white;
    font-size:20px;
    background-color:rgb(33, 28, 28);
    /*background-color: white;*/
    list-style-type:none;
    cursor: pointer;
}

.subitems li:hover{
    color:gray;
}

#menu-button{
    display:none;
    background-color: rgb(33, 28, 28);
    margin-top:0px;
    margin-bottom:0px;
    position:absolute;
    top:15px;
    left:10px;
}

#menu-button:hover div{
    background-color: blue;
    
}

#menu-button div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0px 0px 0px;
}

#searchcontain{
    background-color: white;
    border-color:red;
    border-radius: 10px;
    width:45%;
    margin:auto;
    overflow: hidden;
}

#searchcontain #searchbar{
    display:inline-block;
    margin-left:10px;
    border:none;
    height:30px;
    width:70%;
}

#searchcontain button{
    display:inline-block;
    margin:0px 0px 0px 0px;
    padding:0px;
    font-size:20px;
    border: none;
    color : black;
    background-color:red;
}

#searchcontain button:hover{
    color:gray;
}


@media(max-width: 800px){
    #main-nav #items{
        margin:0px;
        position:absolute;
        top:0px;
        left:0px;
        display: block;
    }

    #main-nav button{
        font-size: 25px;
    }

    #main-nav .mitem{
        display:block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .subitems{
        position: relative;
        display:block;
    }
    
    #menu-button{
        display:inline-block;
    }
    
    #searchcontain #searchbar{
        display:block;
        width:90%;
        margin:auto;
    }
    #searchcontain button{
        display:block;
        width:100%;
    }
    #sidemenu{
        position:absolute;
        margin:auto;
        width:100%;
        
        top:0px;
        left:0px;
        min-height:100px;
        min-width:100px;
        background-color: green;
    }

}


